<div class="slider-container">

    <div class="my-slider">
        <div><img src="<?php echo $block->getData('photo-1'); ?>" alt=""></div>
        <div><img src="<?php echo $block->getData('photo-2'); ?>" alt=""></div>

        <!--            <div><img src="--><?php //echo $block->getData('photo-3'); ?><!--" alt=""></div>-->
        <!--            <div><img src="--><?php //echo $block->getData('photo-4'); ?><!--" alt=""></div>-->
        <!--            <div><img src="--><?php //echo $block->getData('photo-5'); ?><!--" alt=""></div>-->
        <!--            <div><img src="--><?php //echo $block->getData('photo-6'); ?><!--" alt=""></div>-->
    </div>
</div>


<script>
    require([
        'jquery',
        'slick'
    ], function ($) {
        jQuery(document).ready(function () {
            jQuery(".my-slider").slick({
                dots: false,
                infinite: true,
                speed: 600,
                autoplay: true,
                autoplaySpeed: 3000,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                responsive: [
                    {
                        breakpoint: 1280,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    });
</script>
