<?php

/**
 * @var \Team1\Instagram\Block\Display $block
 */
$listImage = $block->getImage()->getData();

//var_dump($listImage);
?>

<!--$value["img_url"]-->
<div class="slider-container">

    <div class="my-slider">
        <?php foreach($listImage as $value): ?>
            <div><?php echo $value["img_url"]; ?></div>
        <?php endforeach; ?>
    </div>
</div>

<script>
    require([
        'jquery',
        'slick'
    ], function ($) {
        jQuery(document).ready(function () {
            jQuery(".my-slider").slick({
                dots: false,
                infinite: true,
                speed: 600,
                autoplay: true,
                autoplaySpeed: 3000,
                slidesToShow: 3,
                slidesToScroll: 1,
                arrows: true,
                responsive: [
                    {
                        breakpoint: 1280,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    });
</script>
